---
import type { Category } from "../../interface";
import { strapiFetch } from "../../utils/fetch";

const res = await strapiFetch("/categories", {
  method: "GET",
});

const { data: categories }: { data: Category[] } = res;

const typesCategories = categories.map((item) => item.types);

const filterCategories = (category: string) => {
  const filtered = categories.filter(
    (item) => item.types?.toLocaleLowerCase() === category.toLocaleLowerCase()
  );
  return filtered || [];
};
---

<ul class="flex flex-col gap-y-4">
  {
    typesCategories.map((item) => (
      <li class="flex flex-col gap-y-2">
        <span class="font-semibold text-xl">{item}</span>
        <ul>
          {filterCategories(item).map((subItem: Category) => (
            <li>
              <a
                class="bg-red-white text-red-500 border border-red-500 rounded-lg py-2 px-3 size-fit capitalize"
                href={`/locals?c=${subItem.title}`}
              >
                {subItem.title}
              </a>
            </li>
          ))}
        </ul>
      </li>
    ))
  }
</ul>
