---

---

<footer
  class="py-3 lg:py-0 flex flex-col gap-y-5 lg:flex-row lg:flex-wrap w-full items-center justify-between h-fit lg:h-16 mx-auto max-w-[1200px] text-red-500 px-3 xl:px-0"
>
  <span class="text-center"
    >Copy©right <a href="#" class="font-semibold">Informes avellaneda</a> | todos
    los derechos reservados</span
  >
  <span
    >Creado por <a
      href="https://portafolio-ezequiel.netlify.app/"
      class="font-semibold">Ezequiel Garcia</a
    ></span
  >
</footer>
