---
//import listBusiness from "../../../data/business.data.json";
import ContentCardBusiness from "./ContentCard/ContentCardBusiness";
---

<section class="flex flex-col w-full py-6 gap-y-6">
  <article class="flex flex-col gap-y-3">
    <h2 class="font-semibold text-3xl">Locales</h2>
    <p class="font-normal text-base text-black/60">
      Mira todos los locales que están registrados en nuestra web
    </p>
  </article>
  <ContentCardBusiness client:idle />
</section>
