---
import { marked } from "marked";

const { longdescription } = Astro.props;

marked.setOptions({
  breaks: true,
});
---

<div class="w-full">
  <div class="long-description" set:html={marked(longdescription)} />
</div>

<style is:inline>
  .long-description h1 {
    font-size: 1.5rem;
  }
  .long-description h2 {
    font-size: 1rem;
  }
  .long-description ul li {
    list-style: inside;
  }

  .long-description ol li {
    list-style: inside;
    list-style-type: decimal;
  }

  .long-description a {
    color: red;
    padding: 4px 8px;
    border: 1px solid red;
    border-radius: 8px;
  }
  .long-description blockquote {
    background-color: rgb(238, 238, 238);
    color: rgb(110, 110, 110);
    padding: 12px;
  }
</style>
