---
import Search from "./Search/Search";
---

<section
  class="w-full h-fit relative text-white flex flex-col items-center justify-center gap-y-10 px-3 md:px-0 pt-28 pb-8"
>
  <article
    class="flex items-center flex-col gap-y-5 justify-center w-full max-w-[810px] "
  >
    <h1 class="text-4xl sm:text-5xl font-semibold text-center">
      Bienvenido a Informes avellaneda
    </h1>
    <p class="text-base sm:text-xl text-center font-normal">
      Descubrí en un solo lugar todos los negocios de <strong
        >Flores Avellaneda, Buenos Aires</strong
      >. Desde locales de ropa, gastronomía, calzado y accesorios, hasta
      servicios.Nuestro objetivo es acercarte las mejores opciones de la zona,
      ayudarte a encontrar lo que buscás y apoyar a los comercios locales que
      día a día crecen con su esfuerzo y dedicación. Explorá, buscá y conectá
      con los locales de Flores Avellaneda de manera rápida y sencilla.
    </p>
  </article>
  <Search client:idle />
  <img
    src={"/image/Pixabay-347468.png"}
    class="w-full h-full object-cover bg-center brightness-50 absolute top-0 left-0 -z-10"
    alt="image-hero"
  />
</section>
