---
import { BiSolidMap } from "react-icons/bi";
import Search from "./Search/Search";
---

<section
  class="w-full h-full max-h-[590px] relative text-white flex flex-col items-center justify-center gap-y-10"
>
  <article
    class="flex items-center flex-col gap-y-5 justify-center w-full max-w-[820px]"
  >
    <h1 class="text-5xl font-semibold text-center">
      Bienvenido a [titulo del projecto]
    </h1>
    <p class="text-xl text-center font-normal">
      Lorem ipsum dolor sit amet consectetur. In curabitur tempor mauris lacus.
      Tellus mauris sit turpis at. Mauris sed dictum ac donec ut magna feugiat
      cras. Ipsum lectus elit velit iaculis
    </p>
  </article>
  <Search client:idle />
  <img
    src={"../image/Pixabay-347468.png"}
    class="w-full h-full object-cover bg-center brightness-50 absolute top-0 left-0 -z-10"
    alt="image-hero"
  />
</section>
