---
import ContentResponsiveMenu from "./ContentResponsive/ContentResponsiveMenu";

const listMenu = [
  { title: "Galerias", link: "/galeries" },
  { title: "Locales", link: "/locals" },
  { title: "Mapa", link: "/maps" },
  { title: "Contactar", link: "https://wa.me/+541162709531?text=Quiero%20que%20mi%20negocio%20este%20en%20Informes%20Avellaneda" },
];
---

<header
  class="fixed top-12 left-1/2 -translate-1/2 w-full flex justify-center h-fit z-20 px-3 xl:px-0"
>
  <div
    class="rounded-xl bg-red-500/40 py-5 px-6 w-full backdrop-blur-lg max-w-[1200px]"
  >
    <div class="flex items-center justify-between gap-y-2 text-white">
      <a class="w-40 overflow-hidden " href="/"
        ><img src="/svg/logo-main.svg" class="size-full" alt="logo-main" /></a
      >
      <nav>
        <ul class="sm:flex hidden gap-x-3">
          {
            listMenu.map((item) => (
              <li class="text-xl font-normal">
                <a href={item.link}>{item.title}</a>
              </li>
            ))
          }
        </ul>
        <ContentResponsiveMenu client:idle />
      </nav>
    </div>
  </div>
</header>
