---
import Business from "../components/Home/Business/Business.astro";
import Hero from "../components/Home/Hero.astro";
import Promotions from "../components/Home/Promotions/Promotions.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Informes Avellaneda | Encuentra negocios en un solo lugar"
  description="Descubrí en un solo lugar todos los negocios de Flores Avellaneda, Buenos Aires. Desde locales de ropa, gastronomía, calzado y accesorios, hasta servicios.Nuestro objetivo es acercarte las mejores opciones de la zona, ayudarte a encontrar lo que buscás y apoyar a los comercios locales que día a día crecen con su esfuerzo y dedicación. Explorá, buscá y conectá con los locales de Flores Avellaneda de manera rápida y sencilla."
>
  <Hero />
  <div class="max-w-[1200px] h-fit mx-auto px-3 xl:px-0">
    <Promotions server:defer/>
    <Business />
  </div>
</Layout>
