---
import Business from "../components/Home/Business/Business.astro";
import Hero from "../components/Home/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <div class="max-w-[1200px] h-fit mx-auto px-3 xl:px-0">
    <Business />
  </div>
</Layout>
