---
import Business from "../components/Home/Business/Business.astro";
import Hero from "../components/Home/Hero.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <Hero />
  <div class="m-full max-w-[1188px] h-full mx-auto">
    <Business />
  </div>
</Layout>
