---
import Map from "../components/Maps/Map/Map";
import SearchMap from "../components/Maps/SearchMap/SearchMap";
//import listBusiness from "../data/business.data.json";
import ContentCardMap from "../components/Maps/ContentCardMap/ContentCardMap";
import Layout from "../layouts/Layout.astro";

const addressQuery = Astro.url.searchParams.get("q");
//const getQuerySearch = Astro.url.searchParams.get("s");
/* 
const res = await strapiFetch(
  "/businesses?fields[0]=title&fields[1]=shortdescription&populate[imagelogo][fields][0]=url&populate[tags][fields][0]=*&populate[directions]=*",
  {
    method: "GET",
  }
); */
/* const listBusiness = getQuerySearch
  ? res.data.filter((item: BusinessItemCardMap) => {
      //1.Condicion para el titulo
      const isTitle = normalizeString(item.title)
        .toLocaleLowerCase()
        .includes(normalizeString(getQuerySearch).toLocaleLowerCase());

      // 2. Condición para la descripción
      const isDescriptionMatch = normalizeString(
        item.shortdescription?.toLocaleLowerCase()
      ).includes(normalizeString(getQuerySearch.toLocaleLowerCase()));

      // 3. Condición para los tags
      const isTagMatch = item.tags?.some(
        (tag) =>
          normalizeString(tag.itemtag.toLocaleLowerCase()) ===
          normalizeString(getQuerySearch.toLocaleLowerCase())
      );
      return isTitle || isDescriptionMatch || isTagMatch;
    })
  : res.data; */
---

<Layout
  title="Informes Avellaneda | Encuentra negocios en un solo lugar"
  description="Descubrí en un solo lugar todos los negocios de Flores Avellaneda, Buenos Aires. Desde locales de ropa, gastronomía, calzado y accesorios, hasta servicios.Nuestro objetivo es acercarte las mejores opciones de la zona, ayudarte a encontrar lo que buscás y apoyar a los comercios locales que día a día crecen con su esfuerzo y dedicación. Explorá, buscá y conectá con los locales de Flores Avellaneda de manera rápida y sencilla."
>
  <div class="w-full h-fit">
    <Map client:visible addressQuery={addressQuery} />
    <div
      class="md:absolute bottom-2 left-1/2 md:-translate-x-1/2 py-3 md:py-0 flex flex-col gap-y-2 w-full max-w-[1200px] px-3 xl:px-0"
    >
      <SearchMap client:idle />
      <ContentCardMap client:idle />
    </div>
  </div>
</Layout>
